#search{
  width: 75%;
  margin: 0px;
}
#submit{
  width: 25%;
  margin: 0px;
}
#filterForm{
  width: 100%;
  position: relative;
  padding: 0;
  margin-bottom: 20px;
}
#list{
  overflow: auto;
  position: relative;
  height:99%;
}
.SearchBar{
  height: 99%;
  position: relative;
}
.ListOuter{
  height: 86%;
  position: relative;
}
@media only screen and (max-width: 780px) {
  #search{
    width: 90%;
    margin-left: 14px;
    margin-top: 20px;
  }
  #submit{
    width: 90%;
    margin-left: 14px;
    margin-top: 8px;
  }
}
